<div class="index-body content">
  <div class="add-experiment content">
    <%= button_to "Add Experiment", new_experiment_path, method: "get", class: "content" %>
  </div>
  <div class="index-header">
    <h2>Experiment Board</h2>
  </div>
  <div class="experiments-container content">
    <% @experiments.each do |experiment| %>
      <article class="individual-experiment">
        <p><%= link_to experiment.title, experiment_path(experiment.id) %></p>
        <p>Staff needed: <%= experiment.staff_needed %></p>
        <div class="summary">
          <span>Summary: <%= experiment.summary %></span>
        </div>
      </article>
    <% end %>
  </div>
</div>
