/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 100%;
  max-width: 1100px;
  min-width: 500px;
  min-height: 1000px;
  font-family: sans-serif;
  margin: auto;
}

nav {
  min-width: 100%;
  border-bottom: 2px solid #002877;
  background-color: #FDDF33;
  margin-bottom: 2%;
}

nav a {
  text-decoration: none;
}

.nav-logo {
  font-size: 5em;
  padding-left: 2%;
}

.logout {
  font-size: 5em;
  float: right;
  padding-right: 2%;
}

.outer{
  border: 2px solid #002877;
  text-align: center;
  margin: auto;
  width: 90%;
  min-height: 900px;
  max-height: 90%;
}

.inner {
  font-size: 2em;
}

.registration-link {
  padding: 5%;
}

input {
  width: 80%;
  padding: 12px;
  font-size: 3em;
  border-style: solid;
  border-width: 2px;
  border-color: #002877;
  margin: 2%;
}

select {
  padding: 3%;
  min-width: 80%;
  font-size: 3em;
  overflow:hidden;
  border-style: solid;
  border-width: 2px;
  border-color: #002877;
}

h2 {
  font-size: 3em;
  margin: auto;
  color: #002877;
  padding: 10px;
}

.experiment h2 {
  font-size: 2em;
}

.errors {
  color: red;
  font-size: 2em;
}

a {
  color: #002877;
  background-color: #FDDF33;
  text-decoration: none;
}

.experiments-container {
  max-width: 90%;
}

.experiment {
 font-size: 1.8em;
}

article {
  border: 2px solid #002877;
  padding: 15px;
  margin-bottom: 20px;
}

footer {
  padding-left: 2%;
}

.experiment{
  border: 2px solid #002877;
  max-width: 90%;
  margin: auto;
  min-height: 600px;
}

.content{
  margin: auto;
  padding-left: 2.5%;
}

.join-experiment-notice {
  text-align: center;
  font-size: 1.5em;
}

.index-header {
  text-align: center;
}

.join {
  text-align: center;
}

#reveal-info {
border: 2px solid #002877;
  padding: 3%;
  min-width: 90%;
  font-size: 2em;
  margin: 0 auto;
  display: block;
}

a:hover {
  color:red
}

.fields {
  min-width: 95%;
  padding: 15px;
}

label {
  font-size: 4em;
}

textarea {
  min-width: 80%;
  min-height: 100px;
  font-size: 3em;
  border: 2px solid #002877;
}

input[type=submit] {
  margin: auto;
  max-width: 90%;
  border: 2px solid #002877;
  background-color: inherit;
  padding-bottom: 15px;
}

input[type=submit]:hover {
  border: 2px solid red;
  color:red;
}

body {
  padding: 2%;
  color: #002877;
  width: 80%;
  margin: auto;
  font-family: sans-serif;
}



article {
  text-align: left;
  border: 2px solid #002877;
  margin: 2%;
  padding: 2%;
}

.join-experiment-notice {
  color: red;
}

.reveal-down {
  display: none;
}

.reg-link {
  font-size: 4em;
}

.num-staff-needed {
  padding-left: 2.5%;
}
