/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.outer{
  padding: 2%;
  border: 2px solid #002877;
  text-align: center;
  margin: auto;
  width: 30%;
  font-size: 200%;
}
.inner {
  text-align: left;
  position: relative;
}

footer {
  margin-top: 2%;
}


nav{
  font-size: 2em;
  border-bottom: 2px solid #002877;
  font-family: serif;
  background-color: #FDDF33;
  margin-bottom: 2%;
}
h2 {
  text-decoration: underline;
}
a {color: #002877;
  background-color: #FDDF33;
}

.experiment{
  padding: 2%;
  border: 2px solid #002877;
}
.nav-buffer {
  padding: 2%;
}
.content{
  padding-left: 2%;
}

.nav-logo {text-decoration: none;}
a:hover {color:red}

.new-experiment-form {
  padding: 2%;
  border: 2px solid #002877;
  text-align: center;
  margin: auto;
  width: 300px;
  font-size: 1.5em;
}
.fields {
  text-align: left;
  position: relative;
}
.index-body{

}

.summary {
  padding: 2%;
}

input[type=submit] {
  border: 2px solid #002877;
  background-color: inherit;
  color: #002877;
  font-size: 1em;
}
input[type=submit]:hover {
  border: 2px solid red;
  color:red;
}

body {
  padding: 2%;
  color: #002877;
  width: 80%;
  margin: auto;
  font-family: sans-serif;
}



article {
  text-align: left;
  border: 2px solid #002877;
  margin: 2%;
  padding: 2%;
}

.reveal-down {
  display: none;
}
